
            
h3 {
    font-family: sans-serif, Cambria, Arial, Helvetica;
    font-size: 22px;
    color: black;
    text-align: center;
}

p {
    font-family: sans-serif, Cambria, Arial, Helvetica;
    font-size: 18;
}

path {
    stroke: white;
    stroke-width: 0.5px;
    fill: #d9d9d9;
}

.points circle {
    fill: #fff;
    stroke: #1f25c3;
    stroke-width: 2px;

}

.Hillary_Clinton {stroke:#4575b4; fill: #4575b4; stroke-width: 1px; background-color:#4575b4;}
.Bernie_Sanders {stroke:#74add1;fill: #74add1; stroke-width: 1px; background-color:#74add1;}
.Ted_Cruz {stroke:#f46d43;fill: #f46d43; stroke-width: 1px; background-color:#f46d43;}
.Donald_Trump {stroke:#d73027;fill: #d73027; stroke-width: 1px; background-color:#d73027;}
.John_Kasich {stroke: #fdae61;fill: #fdae61; stroke-width: 1px; background-color:#fdae61;}
.Jeb_Bush {stroke: #fee090;fill: #fee090; stroke-width: 1px; background-color:#fee090;}
.Marco_Rubio {stroke: #ffffbf;fill: #ffffbf; stroke-width: 1px; background-color:#ffffbf;}
.Ben_Carson {stroke: #e0f3f8;fill: #e0f3f8; stroke-width: 1px; background-color:#e0f3f8;}
.Chris_Christie {stroke: #abd9e9;fill: #abd9e9; stroke-width: 1px; background-color:#abd9e9;}
.Mike_Huckabee {stroke: #b35806;fill: #b35806; stroke-width: 1px; background-color:#b35806;}
.Carly_Fiorina {stroke: #e08214;fill: #e08214; stroke-width: 1px; background-color:#e08214;}
.Rick_Santorum {stroke: #fdb863;fill: #fdb863; stroke-width: 1px; background-color:#fdb863;}
.Martin_OMalley {stroke: #fee0b6;fill: #fee0b6; stroke-width: 1px; background-color:#fee0b6;}
.Rand_Paul {stroke: #b2abd2;fill: #b2abd2; stroke-width: 1px; background-color:#b2abd2;}
.Scott_Walker {stroke: #8073ac;fill: #8073ac; stroke-width: 1px; background-color:#8073ac;}
.Bobby_Jindal {stroke: #542788;fill: #542788; stroke-width: 1px; background-color:#542788;}
.Rick_Perry {stroke: #c51b7d;fill: #c51b7d; stroke-width: 1px; background-color:#c51b7d;}
.Lindsey_Graham {stroke: #de77ae;fill: #de77ae; stroke-width: 1px; background-color:#de77ae;}
.George_Pataki {stroke: #f1b6da;fill: #f1b6da; stroke-width: 1px; background-color:#f1b6da;}
.Lincoln_Chafee {stroke: #b8e186;fill: #b8e186; stroke-width: 1px; background-color:#b8e186;}
.Jim_Gilmore {stroke: #7fbc41;fill: #7fbc41; stroke-width: 1px; background-color:#7fbc41;}
.Jim_Webb {stroke: #4d9221;fill: #4d9221; stroke-width: 1px; background-color:#4d9221;}
.Lawrence_Lessig {stroke: #35978f;fill: #35978f; stroke-width: 1px; background-color:#35978f;}
.Ben_Townhalls {stroke: #01665e;fill: #01665e; stroke-width: 1px; background-color:#01665e;}

.route {
    fill: none;
    stroke-weight: 1;
    stroke: #1f25c3;
    stroke-width: 1px;
}

#controls {
            position: absolute;
            top: 200px;
            left: 900px;
            width: 250px;
            font-size: 12px;
        }

 #cityFloater {
position: absolute;
top:0px;
left:0px;
visibility: hidden;
font-size: 14px;
background-color: beige;
padding: 10px;
box-shadow: 3px 3px 3px #cccccc;
border-radius: 3px;
}

#tripFloater {
position: absolute;
top:0px;
left:0px;
visibility: hidden;
font-size: 14px;
background-color: beige;
padding: 10px;
box-shadow: 3px 3px 3px #cccccc;
border-radius: 3px;
}

#candidateNames {
            font-family: sans-serif, Cambria, Arial, Helvetica;
            font-size: 24;
}

 #candidateNames span {
            padding: 3px;
            margin: 3px;
            font-size: 10px;
            display: inline-block;
            cursor: pointer;
        }
